@using OpencastReplacement.Data
@using System.Security.Claims
@using OpencastReplacement.Events
@using OpencastReplacement.Helpers
@using OpencastReplacement.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDataRepository DataRepository
@inject VideoAddedEvent VideoAddedEvent
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment Environment

@implements IDisposable

<MudPaper Class="pa-3 ma-3">
    <MudGrid>
        <MudItem xs="4">
            <MudAutocomplete @bind-Value="value"
                @ref="autocomplete"
                Label="Suche"
                T="string" 
                SearchFunc="Search" 
                CoerceValue="true" 
                AdornmentIcon="@Icons.Material.Filled.Search"
                ResetValueOnEmptyText="true" />
        </MudItem>
        <MudItem xs="1">
            <MudButton OnClick="ResetSearch" Variant="Variant.Outlined">Reset</MudButton>
        </MudItem>
        <MudItem xs="3">
            <MudCheckBox @bind-Checked="@showOnlyOwnVideos" Label="Nur eigene Videos zeigen"></MudCheckBox>
        </MudItem>
    </MudGrid>
    
    
    
</MudPaper>

<MudSimpleTable Hover="false">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ersteller</th>
            <th>Größe (MB)</th>
            <th>Dauer</th>
            <th>Tags</th>
            <th>Öffentlich</th>
            <th>Auflösung</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vid in videosFilteredOwner)
        {
            <tr @key="IdToKeyVideoList(vid.Id)">
                <td>@vid.FileName</td>
                <td>@vid.UserId</td>
                <td>@ByteToMegabyte(@vid.FileSize)</td>
                <td>@vid.Duration.Hours:@vid.Duration.Minutes:@vid.Duration.Seconds</td>
                <td>
                    @foreach(var tag in vid.Tags)
                    {
                        <MudChip @key="tag" Color="Color.Default">@tag</MudChip>
                    }
                </td>
                <td>@(vid.Public ? "Öffentlich" : "Privat")</td>
                <td>@($"{vid.Width}x{vid.Height}")</td>
                <td><MudIconButton Icon="@Icons.Material.Filled.PlayCircleFilled" Link=@($"{baseUrl}/Video?id={vid.Id}") Color="Color.Secondary"></MudIconButton></td>
                <td><MudButton Variant="Variant.Outlined" OnClick="(() => LinkToClipboard(vid.Id))">Link kopieren</MudButton></td>
                <td><MudButton Variant="Variant.Filled" OnClick="(() => EmbedToClipboard(vid))">Embedcode kopieren</MudButton></td>
            </tr>
        }
    </tbody>
</MudSimpleTable>


@code {
    private ClaimsPrincipal? user;
    private List<Video> videos = new();
    private StringEqualityComparer comparer = new();
    private List<Video> videosFiltered => (string.IsNullOrWhiteSpace(value)) ? videos : videos.Where(v => v.FileName.Contains(value, StringComparison.InvariantCultureIgnoreCase) || v.Tags.Contains<string>(value, comparer)).ToList();
    private List<Video> videosFilteredOwner => showOnlyOwnVideos ? videosFiltered.Where(v => v.UserId.Equals(user?.Identity?.Name)).ToList() : videosFiltered;
    private List<string> list = new();
    private MudAutocomplete<string>? autocomplete;
    private bool showOnlyOwnVideos = true;

    private string? value;

    private string baseUrl => Environment.IsDevelopment() ? "https://localhost:7043" : "https://video.bs18.de";

    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        LoadVideosAndTags();
        VideoAddedEvent.Notify += OnVideoUpdate;
    }

    private string IdToKeyVideoList(Guid id)
    {
        return $"videolist_{id}";
    }

    private void ResetSearch()
    {
        value = string.Empty;
        autocomplete?.Clear();
        StateHasChanged();
    }

    private string ByteToMegabyte(long bytes)
    {
        return String.Format("{0:0.00}", bytes / (1024.0 * 1024.0));
    }

    private void LoadVideosAndTags()
    {
        foreach(var vid in DataRepository.Videos)
        {
            if(vid.Public || vid.UserId.Equals(user?.Identity?.Name))
            {
                videos.Add(vid);
            }
        }
        foreach(var tag in DataRepository.Tags)
        {
            if (!tag.IsPrivate || tag.UserId.Equals(user?.Identity?.Name))
            {
                list.Add(tag.Name);
            }
        }
    }

    private async Task OnVideoUpdate(bool added)
    {
        await InvokeAsync(() =>
        {
            LoadVideosAndTags();
            StateHasChanged();
        });
    }

    private async Task LinkToClipboard(Guid id)
    {
        string link = $"{baseUrl}/Video?id={id}";
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", link);
        //Snackbar.Add("Id in die Zwischenablage kopiert!");
    }

    private async Task EmbedToClipboard(Video vid)
    {
        int newHeight = vid.Height;
        int newWidth = vid.Width;

        if(newHeight > 500)
        {
            double factor = 500.0 / (double)newHeight;
            newHeight = 500;
            newWidth = (int)(newWidth * factor);
        }
        if(newWidth > 600)
        {
            double factor = 600.0 / (double)newWidth;
            newWidth = 600;
            newHeight = (int)(newHeight * factor);
        }

        string embed = $"<iframe src=\"{baseUrl}/Video?id={vid.Id}\" title=\"{vid.FileName}\" style=\"width:{newWidth}px;height:{newHeight}px\" frameborder=\"0\" scrolling=\"no\" ></iframe>";
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", embed);
    }

    private async Task<IEnumerable<string>> Search(string val)
    {
        if(string.IsNullOrWhiteSpace(val))
        {
            return list;
        }
        return list.Where(x => x.Contains(val, StringComparison.InvariantCultureIgnoreCase));
    }

    public void Dispose()
    {
        VideoAddedEvent.Notify -= OnVideoUpdate;
    }
}
